[submodule "nyaa-repo"]
	path = nyaa-repo
	url = https://github.com/kreatolinux/nyaa-repo.git
	branch = master
[submodule "nyaa-repo-bin"]
	path = nyaa-repo-bin
	url = https://github.com/kreatolinux/nyaa-repo-bin
	branch = master
